<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <head>
        <title>Floripa Rent Watch Report</title>
        <link rel="stylesheet" href="./templates/style.css">
    </head>
    <body>
            <header>
                <span>{{date}} Relatório Semanal</span>
                <span>Performance</span>
            </header>
            <h1 class="title">{{title}}</h1>
            <h1 class="subtitle">{{subtitle}}</h1>
            <div class="chart" >
                <img src={{chart}}>
            </div>
            <footer>
                <span>www.frw.com.br</span>
                <span>Floripa Rent Watch</span>
            </footer>
    </body>
</html>